.navbar{
    background-color:blue;
}

.navbar .navbar-brand{
     color:white;
}

.navbar .nav li.active a {
    color: white;
    background-color: #0099ff;
}

.navbar .nav li a{
    color:white;
    
}
body{
    background-image: url("https://image.freepik.com/free-vector/magic-lights-blue-background_1053-44.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    
    width: 200px;
    height: 200px;
}
.sj {
    color:white; 
}